body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(176, 176, 176);
}

.myCanvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.stuffContainer {
  display: flex;
}

.buttonContainer {
  margin-top: 15px;
  margin-left: 10%;
}
